body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e6ef; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.invitation-card {
    /* Set background image */
    /* background-image: url("paper-texture-background.jpg");  */
    background-image: url("/images/image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px; /* Max width for card */
    position: relative;
}

.name {
    font-size: 3em;
    font-family: 'Dancing Script', cursive; /* Playful font */
    margin-bottom: 0.1em;
    color: #8c2947; /* Burgundy color */
    font-weight: normal;
}
.event{
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive; /* Playful font */
    margin-bottom: 0.1em;
    color: #8c2947; /* Burgundy color */
    font-weight: normal;
    margin-top: 0;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.month {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #8c2947;
    margin: 2em 0.2em 0em 0.2em; /* added */
}

.day-time {
    display: flex;
    align-items: center;
}

.day, .time {
    font-size: 0.8em;
    color: #8c2947;
    margin: 0 0.5em;
}


.date {
    font-size: 2.5em;
    color: #8c2947;
}

.year {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #8c2947;
    margin-top: 0.2em; /* added */
}

.location1, .location2, .rsvp {
    font-size: 0.9em;
    color: #8c2947;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
}

.location2 {
    font-size: 0.9em;
    color: #8c2947;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
}

/* Add a "sparkle" effect (just like on the image) */
.invitation-card::before,
.invitation-card::after {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.6;
}

.invitation-card::before {
    width: 10px;
    height: 10px;
    top: 5%;
    left: 10%;
}

.invitation-card::after {
    width: 15px;
    height: 15px;
    bottom: 10%;
    right: 15%;
}

/* add custom font  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');